.experience__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.experience__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.5rem 5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-light-variant);
}

.experience__frontend,
.experience__backend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  height: auto;
}

.experience__container > div h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.experience__container > div:hover {
  background: var(--color-bg);
  border-color: var(--color-primary);
  cursor: pointer;
}

.experience__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  font-size: 1.2rem;
  color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .experience__container > div {
    width: 75%;
    padding: 2.5rem 3rem;
    margin: 0 auto;
  }

  .experience__container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
  }

  .experience__title {
    margin-bottom: 1.5rem;
  }

  .experience__content {
    width: auto;
    padding: 1.5rem;
  }
}

/* @media screen and (max-width: 600px) {
} */
