* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.2);
  --color-light: rgba(255, 255, 255, 0.2);
  --color-light-variant: rgba(255, 255, 255, 0.1);
  --color-white: #fff;
}
