nav {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: max-content;
  padding: 0.7rem 1.5rem;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  display: flex;
  background: transparent;
  color: var(--color-light);
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 50%;
}

nav a:hover {
  background: var(--color-primary-variant);
}

nav a:hover svg {
  color: var(--color-white);
}
